html,
body {
  background: #2b5876;
  background: -webkit-linear-gradient(to left, #2b5876, #4e4376);
  background: linear-gradient(to left, #2b5876, #4e4376);
}

.navbar {
  margin-bottom: 5%;
  padding: 0;
  border-bottom: solid 1px #403f4c;
  background-color: #1b2432;
  justify-content: center;
}

#nickWuerz {
  letter-spacing: 4px;
  background-color: #1b2432;
  color: #b76d68;
  margin-bottom: 0;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

h2 {
  font-family: "Lato", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  font-size: medium
}

#me {
  border-radius: 10%;
  margin-top: 5px;
  margin-right: 10px;
  border: #1b2432;
  border-style: solid;
  border-width: 1px;
  width: 8rem;
  height: 11rem;
}

.jumbotron {
  background-color: #1b2432;
  border: solid 1px #403f4c;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 10%;
}

hr {
  background-color: #b76d68;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  letter-spacing: 1px;
}

a {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
}

a:hover {
  color: #b76d68;
  text-decoration: none;
  font-weight: bolder;
}

#apc {
  margin-bottom: 0;
  margin-right: 5%;
  color: #b76d68;
}

.text-secondary {
  color: #fff;
}

.thumbnail {
  position: relative;
}

#rainbow-caption {
  position: absolute;
  width: 100%;
  background: transparent;
  top: 30%;
}

#rainbow {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
  text-shadow: 2px 2px #ff0000;
}

#charity-tracker-caption {
  position: absolute;
  width: 100%;
  background: transparent;
  top: 2%;
}

#charity-tracker {
  font-family: "Playfair Display", serif;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
  font-size: 20px;
  font-weight: bolder;
}

#instachef-caption {
  position: absolute;
  width: 100%;
  background: transparent;
  top: 35%;
}

#instachef {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
  color: #6b8e23;
  font-weight: bolder;
  -webkit-text-fill-color: #6b8e23;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: grey;
  text-shadow: 1px 1px black;
}

.portfolio-img {
  display: block;
  margin: auto;
  width: 20rem;
  height: 10rem;
  border-radius: 5%;
}

.portfolio-img:hover,
.rainbow:hover,
.charity:hover,
.instachef:hover {
  cursor: pointer;
}

.form-group {
  color: #777;
  font-family: "Lato", sans-serif;
}

.btn,
.btn-primary {
  background: #2b5876;
  background: -webkit-linear-gradient(to left, #2b5876, #4e4376);
  background: linear-gradient(to left, #2b5876, #4e4376);
  color: #fff;
  border-style: none;
  letter-spacing: 1px;
}

.btn-primary:hover,
.btn:hover,
.btn-primary:active,
btn:active {
  background: #b76d68;
  color: #fff;
  border-style: none;
  letter-spacing: 1px;
}

#project-txt {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

html {
  min-height: 100%;
  position: relative;
}

.container {
  min-height: 100%;
  display: grid;
}

.links {
  color: #b76d68;
  /* font-weight: bolder; */
  font-size: 19px;
}

.links:hover {
  color: rgb(224, 137, 131);
  font-weight: bolder;
  font-size: 19px;
}

.form-txt {
  color: #fff;
  letter-spacing: 1px;
}

.form-input {
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1px;
}

#footer-txt {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

.footer {
  background-color: #1b2432;
  color: rgb(139, 139, 139);
  border-top: 1px solid #403f4c;
}

.contact-font {
  color: #b76d68;
}

#tech-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.tech-div {
  margin-top: 15px;
  margin-bottom: 30%;
}

#code-btn {
  margin-top: 20%;
}

#icon-div {
  background: transparent;
  border: transparent;
  margin-top: -5%;
}

#icons {
  color: white;
  font-size: 80px;
  margin: 5%;
}

#icons:hover {
  color: #b76d68;
}

#index-icons {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 5%;
}

#index-icon-end {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 5%;
}

.img:hover {
  border: solid 1px white;
}