html,
body {
  background: #2b5876;
  background: -webkit-linear-gradient(to left, #2b5876, #4e4376);
  background: linear-gradient(to left, #2b5876, #4e4376);
}

.navbar {
  margin-bottom: 5%;
  padding: 0;
  border-bottom: solid 1px #403f4c;
  background-color: #1b2432;
  justify-content: center;
}

#nickWuerz {
  letter-spacing: 4px;
  background-color: #1b2432;
  color: #b76d68;
  margin-bottom: 0;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

h2 {
  font-family: "Lato", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  font-size: medium
}

.jumbotron {
  background-color: #1b2432;
  border: solid 1px #403f4c;
  padding-top: 32px;
  padding-bottom: 32px;
}

hr {
  background-color: #b76d68;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  letter-spacing: 1px;
}

span {
  color: #b76d68;
  font-weight: bolder;
}

span:hover {
  color: #ebbfbc;
  font-weight: bolder;
  cursor: pointer;
}

/* a {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
}

a:hover {
  color: #b76d68;
  text-decoration: none;
  font-weight: bolder;
} */

.form-group {
  color: #777;
  font-family: "Lato", sans-serif;
}

.btn,
.btn-primary {
  background: #2b5876;
  background: -webkit-linear-gradient(to left, #2b5876, #4e4376);
  background: linear-gradient(to left, #2b5876, #4e4376);
  color: #fff;
  border-style: none;
  letter-spacing: 1px;
}

.btn-primary:hover,
.btn:hover,
.btn-primary:active,
btn:active {
  background: #b76d68;
  color: #fff;
  border-style: none;
  letter-spacing: 1px;
}

.container {
  min-height: 100%;
  display: grid;
}

.form-txt {
  color: #fff;
  letter-spacing: 1px;
}

.form-input {
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1px;
}

#footer-txt {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

.footer {
  background-color: #1b2432;
  color: rgb(139, 139, 139);
  border-top: 1px solid #403f4c;
}

.contact-font {
  color: #b76d68;
}

#icon-div {
  background: transparent;
  border: transparent;
  margin-top: -5%;
}

#icons {
  color: white;
  font-size: 80px;
  margin: 5%;
}

#icons:hover {
  color: #b76d68;
}

#index-icons {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 5%;
}

#index-icon-end {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 5%;
}